<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Post</title>
  <link rel="stylesheet" href="/style3.css">
</head>
<body>
  <h1>Edit your post</h1>
  <h2>Posted by: <%= post.name %></h2>

  <form action="/posts/<%= post._id %>?_method=PUT" method="post">
    <textarea class="text" name="content" rows="6" cols="50"><%= post.content %></textarea>
    <button class="btn">Edit</button>
  </form><br><br><br>

  <form action="/posts" method="GET">
    <button class="button">Home Page</button>
  </form>

</body>
</html>